[Desktop Entry]
Name=DataView
Comment=Ultra-fast CSV/Excel/TSV Viewer
Exec=/home/ruku/source/exe/target/release/dataview %f
Terminal=false
Type=Application
Categories=Utility;Office;
MimeType=text/csv;text/tab-separated-values;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel;application/vnd.oasis.opendocument.spreadsheet;
